# ===============================
# Archivos sensibles (NO subir)
# ===============================
/config/mail.php

# ===============================
# Dependencias
# ===============================
/vendor/

# ===============================
# Archivos del sistema
# ===============================
.DS_Store
Thumbs.db
